.mainProgress {
    padding-bottom: 20px;
}

#amountSelect {
    text-align: center;
    width: 400px;
    margin: auto;
    padding-top: 10px;
    display: none;
}

.btnPredefined {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
}

#content {
    display: none;
}

#loading{
    text-align: center;
}

#error {
    display: none;
}

.container {
    padding-top: 10px;
}

body {
    background-color: #008cba !important;
    color: white;
    text-align: center;
}

.blendForm {
    color: white;
    background-color: #008cba;
}

.blendForm:focus {
    color: white;
    background-color: #008cba;
}

.blendForm::placeholder {
    color: rgba(255,255,255, 1) !important;
}

.hidden {
    display: none;
}

#loadingError {
    display: none;
}

#continue {
    display: none;
}

#paymentProcessed, #errorProcessing {
    display: none;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px, solid, white;
}

#footerNotice {
    float: left;
    text-align: left;
}

#footerLinks {
    float: right;
    text-align: right;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.donationOptions {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    margin: auto;
}